a:link {
    color: white;
    text-decoration: none;
  }
  a:visited {
      color: white;
      text-decoration: none;
  }
  a:hover {
      color: white;
      text-decoration: none;
  
  }
  .floats {
      float:right;
  }

  .borderr {

    border-width: 1px;
    padding-left : 1%;
    padding-right: 1%;   
    border-radius: 12px
  }
  .borderr:hover {
    background-color: rgb(40,40,40);
    transition-duration: 0.4s;
    border-right-style: solid;
    border-left-style: solid;
    border-color: rgb(40,40,40);
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(161, 161, 161, 0.19)
    
  }

  .flex-container {
  
    display: flex;
    
  }
 
  .flex-container > a {
    
    margin: 10px;  
  }
  .flex-container2 {
  margin-top: 10%;
    display: flex;
    
  
  }
  .flex-container2 >div {
   color:white;
    width: 50%;
  }
  
  .current {
    border-color: rgb(40,40,40);
    border-bottom-style: solid;
  }
body {
    background-image: url("coolback.png");
    margin-left: 2%;
    background-size: cover;
    
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: transparent;
  color: white;
  line-height: -10.0;
  text-align: center;
}
.footer>a {
  text-align: right;
  float: right;
}
.center {

 text-align: center;

 
}
  
